.counter {
  margin-right: 10px;
  font-weight: 700;
  &:before {
    content: "";
    border-left: 1px solid #fff;
    margin-right: 10px;
    height: 100%;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapper:hover {
  color: #c934e0;
}