.product-item {
  width: 230px;
  height: 400px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 15px 20px;
  color: #000;
  position: relative;
  line-height: 1;

  &:hover .star {
    display: block;
  }

  &__img-wrapper {
    width: 200px;
    height: 250px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #361460;
  }

  &__cart {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    background-color: #000000;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-style: italic;
    transition: .3s;
    cursor: pointer;

    &.added {
      background-color: #626262;
    }

    &:hover {
      background-color: #626262;
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    color: #70a940;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
}

.star {
  -webkit-text-stroke: 2px #0f89d5;
  text-stroke: 1px #0f89d5;
  color: transparent;
  font-size: 40px;
  position: absolute;
  right: 10px;
  //bottom: 60px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #0f89d5;
  }

  display: none;

  &.active {
    color: #0f89d5;
    display: block;
    &:hover {
      color: transparent;
    }
  }
}

.star:before {
  content: "\2605";
}